****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## 1) Find the 10 countries with most projects

In [1]:
# Import the necessary libraries in order to complete tasks
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [2]:
#Import file as pandas DataFrame
wbp_df =  pd.read_json(
    'D:\Springboard DS\data_wrangling_json\data_wrangling_json\data\world_bank_projects.json')

Find out details about the data: Shape (for the dimensions), info (for number of rows, columns, non-missing values 
, and the data type stored in each column), and head (for the first 5 rows)

In [3]:
print(wbp_df.shape)
print('--------')
print(wbp_df.info())
print('--------')
print(wbp_df.head())

(500, 50)
--------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB
None
--------
                                    _id  approvalfy board_approval_month  \
0  {'$oid': '52b213b38594d8a2be17c780'}        1999             November
1  {'$oid': '52b213b38594d8a2be17c781'}        2015             November
2  {'$oid': '52b213b38594d8a2be17c782'}        2014             November
3  {'$oid': '52b213b38594d8a2be17c783'}        2014              October
4  {'$oid': '52b213b38594d8a2be17c784'}        2014              October

      boardapprovaldate                                 borrower  \
0  2013-11-12T00:00:00Z  FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA
1  2013-11-04T00:00:00Z                    GOVERNMENT OF TUNISIA
2  2013-11-01T00:00:00Z   MINISTRY OF FINANCE AND ECONOMIC DEVEL
3  2013-10-31T00:00:00Z   MIN. OF PLANNING AND INT'L COOPERATION
4  2013-10-31T00:00:00Z                      MINISTRY OF FINANCE

            closingdate                              country_namecode  \
0  2018-07-07T00:00:00Z  Federal Democratic Republic of Ethiopia!$!ET
1                   NaN                      Republic of Tunisia!$!TN
2                   NaN                                   Tuvalu!$!TV
3                   NaN                        Republic of Yemen!$!RY
4  2019-04-30T00:00:00Z                       Kingdom of Lesotho!$!LS

  countrycode                              countryname    countryshortname  \
0          ET  Federal Democratic Republic of Ethiopia            Ethiopia
1          TN                      Republic of Tunisia             Tunisia
2          TV                                   Tuvalu              Tuvalu
3          RY                        Republic of Yemen  Yemen, Republic of
4          LS                       Kingdom of Lesotho             Lesotho

                         ...                           sectorcode source  \
0                        ...                          ET,BS,ES,EP   IBRD
1                        ...                                BZ,BS   IBRD
2                        ...                                   TI   IBRD
3                        ...                                   JB   IBRD
4                        ...                             FH,YW,YZ   IBRD

   status  supplementprojectflg  \
0  Active                     N
1  Active                     N
2  Active                     Y
3  Active                     N
4  Active                     N

                                              theme1  \
0      {'Percent': 100, 'Name': 'Education for all'}
1  {'Percent': 30, 'Name': 'Other economic manage...
2    {'Percent': 46, 'Name': 'Regional integration'}
3  {'Percent': 50, 'Name': 'Participation and civ...
4  {'Percent': 30, 'Name': 'Export development an...

                                      theme_namecode    themecode   totalamt  \
0      [{'code': '65', 'name': 'Education for all'}]           65  130000000
1  [{'code': '24', 'name': 'Other economic manage...        54,24          0
2  [{'code': '47', 'name': 'Regional integration'...  52,81,25,47    6060000
3  [{'code': '57', 'name': 'Participation and civ...        59,57          0
4  [{'code': '45', 'name': 'Export development an...        41,45   13100000

  totalcommamt                                                url
0    130000000  http://www.worldbank.org/projects/P129828/ethi...
1      4700000  http://www.worldbank.org/projects/P144674?lang=en
2      6060000  http://www.worldbank.org/projects/P145310?lang=en
3      1500000  http://www.worldbank.org/projects/P144665?lang=en
4     13100000  http://www.worldbank.org/projects/P144933/seco...

[5 rows x 50 columns]

The countryname field is present for all entries. Counting the frequency of each country name, sorting the count in descending order and printing the first 10 entries will satisfy the first prompt: Find the 10 countries with most projects.

In [4]:
num_proj_country = wbp_df['countryname'].value_counts().sort_values(ascending = False)
print(num_proj_country[:10])

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

## 2) Find the top 10 major project themes (using column 'mjtheme_namecode')

The second prompt will need more steps in order to extract the data of interest (top 10 major project themes (using column 'mjtheme_namecode')).

In [5]:
#Print 'mjtheme_namecode' to see structure, which is a dictionary
print(wbp_df['mjtheme_namecode'])

0      [{'code': '8', 'name': 'Human development'}, {...
1      [{'code': '1', 'name': 'Economic management'},...
2      [{'code': '5', 'name': 'Trade and integration'...
3      [{'code': '7', 'name': 'Social dev/gender/incl...
4      [{'code': '5', 'name': 'Trade and integration'...
5      [{'code': '6', 'name': 'Social protection and ...
6      [{'code': '2', 'name': 'Public sector governan...
7      [{'code': '11', 'name': 'Environment and natur...
8      [{'code': '10', 'name': 'Rural development'}, ...
9      [{'code': '2', 'name': 'Public sector governan...
10     [{'code': '10', 'name': 'Rural development'}, ...
11     [{'code': '10', 'name': 'Rural development'}, ...
12                           [{'code': '4', 'name': ''}]
13     [{'code': '5', 'name': 'Trade and integration'...
14     [{'code': '6', 'name': 'Social protection and ...
15     [{'code': '10', 'name': 'Rural development'}, ...
16     [{'code': '10', 'name': 'Rural development'}, ...
17     [{'code': '8', 'name': 'Human development'}, {...
18     [{'code': '8', 'name': 'Human development'}, {...
19     [{'code': '2', 'name': 'Public sector governan...
20     [{'code': '7', 'name': 'Social dev/gender/incl...
21     [{'code': '9', 'name': 'Urban development'}, {...
22     [{'code': '7', 'name': 'Social dev/gender/incl...
23     [{'code': '8', 'name': 'Human development'}, {...
24     [{'code': '10', 'name': 'Rural development'}, ...
25     [{'code': '11', 'name': 'Environment and natur...
26     [{'code': '4', 'name': 'Financial and private ...
27     [{'code': '11', 'name': 'Environment and natur...
28     [{'code': '10', 'name': 'Rural development'}, ...
29     [{'code': '7', 'name': 'Social dev/gender/incl...
                             ...
470    [{'code': '5', 'name': 'Trade and integration'...
471    [{'code': '10', 'name': 'Rural development'}, ...
472    [{'code': '11', 'name': 'Environment and natur...
473    [{'code': '11', 'name': 'Environment and natur...
474    [{'code': '9', 'name': 'Urban development'}, {...
475    [{'code': '4', 'name': 'Financial and private ...
476    [{'code': '10', 'name': 'Rural development'}, ...
477    [{'code': '4', 'name': 'Financial and private ...
478    [{'code': '2', 'name': 'Public sector governan...
479    [{'code': '7', 'name': 'Social dev/gender/incl...
480    [{'code': '2', 'name': 'Public sector governan...
481    [{'code': '8', 'name': 'Human development'}, {...
482    [{'code': '10', 'name': 'Rural development'}, ...
483    [{'code': '11', 'name': 'Environment and natur...
484    [{'code': '10', 'name': 'Rural development'}, ...
485    [{'code': '8', 'name': 'Human development'}, {...
486    [{'code': '2', 'name': 'Public sector governan...
487    [{'code': '11', 'name': 'Environment and natur...
488    [{'code': '8', 'name': 'Human development'}, {...
489    [{'code': '9', 'name': 'Urban development'}, {...
490    [{'code': '2', 'name': 'Public sector governan...
491    [{'code': '10', 'name': 'Rural development'}, ...
492    [{'code': '8', 'name': 'Human development'}, {...
493    [{'code': '11', 'name': 'Environment and natur...
494    [{'code': '6', 'name': 'Social protection and ...
495    [{'code': '4', 'name': 'Financial and private ...
496    [{'code': '8', 'name': 'Human development'}, {...
497    [{'code': '10', 'name': 'Rural development'}, ...
498    [{'code': '10', 'name': 'Rural development'}, ...
499    [{'code': '9', 'name': 'Urban development'}, {...
Name: mjtheme_namecode, Length: 500, dtype: object

In [6]:
#Extract 'mjtheme_namecode' into multiple columns using json_normalization
wbp_list = json.load(open(
    'D:\Springboard DS\data_wrangling_json\data_wrangling_json\data\world_bank_projects.json'))

mjtheme_namecode = json_normalize(wbp_list, 'mjtheme_namecode')

#Print head to make sure data is in the proper format
print(mjtheme_namecode.head())

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [7]:
#Find the top 10 themes
theme_names = mjtheme_namecode['name'].value_counts().sort_values(ascending = False)
print(theme_names[:10])

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

## 3) Create a dataframe with the missing names filled in.

In [8]:
#Check the data type of each column
print(mjtheme_namecode.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 2 columns):
code    1499 non-null object
name    1499 non-null object
dtypes: object(2)
memory usage: 23.5+ KB
None

In [9]:
#The code column is object instead of integer
mjtheme_namecode['code'] = pd.to_numeric(mjtheme_namecode['code'])
#Check to see if the data type has changed
print(mjtheme_namecode.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 2 columns):
code    1499 non-null int64
name    1499 non-null object
dtypes: int64(1), object(1)
memory usage: 23.5+ KB
None

In [10]:
#Now the data is ready to manipulate
#First replace blank entries with NaN
mjtheme_namecode_NaN = mjtheme_namecode.replace('', np.nan)

#Sort based on code. First sort by code then on name
mjtheme_namecode_NaN = mjtheme_namecode_NaN.sort_values(['code', 'name'])
print(mjtheme_namecode_NaN[:50])

      code                      name
2        1       Economic management
88       1       Economic management
175      1       Economic management
204      1       Economic management
205      1       Economic management
220      1       Economic management
222      1       Economic management
223      1       Economic management
249      1       Economic management
357      1       Economic management
453      1       Economic management
454      1       Economic management
458      1       Economic management
497      1       Economic management
647      1       Economic management
648      1       Economic management
784      1       Economic management
803      1       Economic management
841      1       Economic management
900      1       Economic management
1010     1       Economic management
1045     1       Economic management
1056     1       Economic management
1057     1       Economic management
1078     1       Economic management
1206     1       Economic management
1212     1       Economic management
1218     1       Economic management
1229     1       Economic management
1230     1       Economic management
1235     1       Economic management
1257     1       Economic management
1260     1       Economic management
212      1                       NaN
363      1                       NaN
1024     1                       NaN
1114     1                       NaN
1437     1                       NaN
5        2  Public sector governance
14       2  Public sector governance
20       2  Public sector governance
21       2  Public sector governance
22       2  Public sector governance
45       2  Public sector governance
48       2  Public sector governance
49       2  Public sector governance
50       2  Public sector governance
68       2  Public sector governance
71       2  Public sector governance
90       2  Public sector governance

In [11]:
#We see that that the NaN entries occur at the end of the of the entries with code = 1
#Using ffill will insert the last valid value to the NaN entries
mjtheme_namecode_full = mjtheme_namecode_NaN.fillna(method='ffill')
#Check that the theory is correct
print(mjtheme_namecode_full.head(50))

      code                      name
2        1       Economic management
88       1       Economic management
175      1       Economic management
204      1       Economic management
205      1       Economic management
220      1       Economic management
222      1       Economic management
223      1       Economic management
249      1       Economic management
357      1       Economic management
453      1       Economic management
454      1       Economic management
458      1       Economic management
497      1       Economic management
647      1       Economic management
648      1       Economic management
784      1       Economic management
803      1       Economic management
841      1       Economic management
900      1       Economic management
1010     1       Economic management
1045     1       Economic management
1056     1       Economic management
1057     1       Economic management
1078     1       Economic management
1206     1       Economic management
1212     1       Economic management
1218     1       Economic management
1229     1       Economic management
1230     1       Economic management
1235     1       Economic management
1257     1       Economic management
1260     1       Economic management
212      1       Economic management
363      1       Economic management
1024     1       Economic management
1114     1       Economic management
1437     1       Economic management
5        2  Public sector governance
14       2  Public sector governance
20       2  Public sector governance
21       2  Public sector governance
22       2  Public sector governance
45       2  Public sector governance
48       2  Public sector governance
49       2  Public sector governance
50       2  Public sector governance
68       2  Public sector governance
71       2  Public sector governance
90       2  Public sector governance

In [12]:
#Check that there are no null entries
print(mjtheme_namecode_full.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 2 to 1477
Data columns (total 2 columns):
code    1499 non-null int64
name    1499 non-null object
dtypes: int64(1), object(1)
memory usage: 35.1+ KB
None

In [13]:
#Redo analysis for prompt two to see correct top 10 themes
theme_names_full =mjtheme_namecode_full['name'].value_counts().sort_values(ascending = False)
print(theme_names_full[:10])

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64